@import "./base.css";

:root {
    --player-clr: #65d3f3;
    --cnsle-base-fnt-sz: 1.1rem;
    --cnsle-sys-clr: #f3d965;
}

@font-face {
    font-family: "Departure Mono";
    src: url("../assets/DepartureMono-Regular.otf");
}

html {
    min-height: 100vh;
}

body {
    height: 100vh;
    background-image: url(../assets/wall.png);
    background-size: cover;
}

#root {
    height: 100%;
}

main {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.console {
    flex-basis: 55%;
    padding: 1rem;
    border-radius: 10px;
    background-color: #1e1e2e;
    font-family: "Block Blueprint", sans-serif;
    font-size: medium;
    font-family: "Departure Mono", sans-serif;
    overflow: auto;
    box-shadow: inset 0 0 0 6px #4a4a5a;
}

.console::-webkit-scrollbar {
    display: none !important;
}

.command-wrapper {
    display: flex;
    gap: 10px;
}

.command-wrapper::before {
    content: "> ";
    color: var(--player-clr);
    font-size: var(--cnsle-base-fnt-sz);
}

.console input {
    all: unset;
    flex: 1;
    color: var(--player-clr);
    caret-color: var(--player-clr);
    font-size: var(--cnsle-base-fnt-sz);
}

.message {
    color: white;
    font-size: var(--cnsle-base-fnt-sz);
}

.message--system {
    color: var(--cnsle-sys-clr);
}

.message--player {
    color: var(--player-clr);
}

.message--narration {
    color: #ffffff;
}

.message--error {
    color: #f36565;
    font-style: italic;
}

.map {
    background-color: green;
    position: fixed;
    top: 0;
    right: 0;
}

.pixel-corners {
    clip-path: polygon(
        0px calc(100% - 35px),
        5px calc(100% - 35px),
        5px calc(100% - 25px),
        10px calc(100% - 25px),
        10px calc(100% - 15px),
        15px calc(100% - 15px),
        15px calc(100% - 10px),
        25px calc(100% - 10px),
        25px calc(100% - 5px),
        35px calc(100% - 5px),
        35px 100%,
        calc(100% - 35px) 100%,
        calc(100% - 35px) calc(100% - 5px),
        calc(100% - 25px) calc(100% - 5px),
        calc(100% - 25px) calc(100% - 10px),
        calc(100% - 15px) calc(100% - 10px),
        calc(100% - 15px) calc(100% - 15px),
        calc(100% - 10px) calc(100% - 15px),
        calc(100% - 10px) calc(100% - 25px),
        calc(100% - 5px) calc(100% - 25px),
        calc(100% - 5px) calc(100% - 35px),
        100% calc(100% - 35px),
        100% 35px,
        calc(100% - 5px) 35px,
        calc(100% - 5px) 25px,
        calc(100% - 10px) 25px,
        calc(100% - 10px) 15px,
        calc(100% - 15px) 15px,
        calc(100% - 15px) 10px,
        calc(100% - 25px) 10px,
        calc(100% - 25px) 5px,
        calc(100% - 35px) 5px,
        calc(100% - 35px) 0px,
        35px 0px,
        35px 5px,
        25px 5px,
        25px 10px,
        15px 10px,
        15px 15px,
        10px 15px,
        10px 25px,
        5px 25px,
        5px 35px,
        0px 35px
    );
}

.stats-table-container {
    /* border: 1px solid #555; */
    background-color: #2a2a3a;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
}

.stats-header {
    margin: 0 0 0.5rem 0;
    color: var(--cnsle-sys-clr);
    text-align: center;
}

.stats-table td {
    padding: 0.25rem;
}

.stats-table td:first-child {
    font-weight: bold;
    color: #ccc;
}

@media (width <= 500px) {
    main {
        display: block;
    }
}
